@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    min-height: 100vh;

    @include mq($from: tablet) {
        overflow-x: hidden;
    }
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Inter", sans-serif;
    background: linear-gradient(222.26deg, #3b1d60 1.22%, #040d3e 106.28%);
    background-attachment: fixed;
}

/* Imagens sem código ALT */
img[alt=""],
img:not([alt]) {
    border: 5px solid #c00;
}

.hoverEffect {
    transition: opacity 0.3s ease-out;

    &:hover {
        opacity: 0.8;
    }
}

.container {
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;

    @include mq($until: wide) {
        padding: 0 1.5rem;
    }
}
